<!-- <%- include('partials/header') -%> -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Servicely | Workshop</title>
    <!-- <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/imgs/favicon-32x32.png"
    /> -->
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" 
    crossorigin="anonymous"
    />-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css"
    /> 
    <!-- <link href="assets/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"> -->
    <link href="/assets/img/favicon.png" rel="icon">
    <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  
    
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    
    
   
    
  
    <link href="assets/css/style.css" rel="stylesheet">
  </head>
  <body>
    
    <header id="header" class="shadow">
      <div class="container d-flex align-items-center justify-content-between">
  
        <h1 class="logo"><a href="/">Servicely</a></h1>
        <!-- fo Image Logo -->
        <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
  
        <nav id="navbar" class="navbar">
          <ul> 
            <li><a  href="/workshop"><%= user.workshopName %></a></li>
            <li><a class="getstarted" href="/logout">Logout</a></li>
          </ul>
          <i class="bi bi-list mobile-nav-toggle"></i>
        </nav><!-- .navbar -->
  
      </div>
    </header>

<div class="container mt-10">
  <div class="d-flex flex-column-reverse flex-sm-row">
      <div class="col-6">
          <!-- <div>
              <p><strong>User Name</strong>: <%= user.userName %></p>
              <p><strong>Email</strong>: <%= user.email %></p>
              <a href="/logout" class="col-3 btn btn-primary">Logout</a>
          </div> -->
          <div class="col-12 col-sm-9 mt-5">
            <h2>Create a customer</h2>
            <form action="/workshop/createCustomer" method="POST">
              <div class="mb-3">
                  <label for="firstName" class="form-label">First Name</label>
                  <input type="text" class="form-control" id="firstName" name="firstName">
              </div>
              <div class="mb-3">
                <label for="lastName" class="form-label">Last Name</label>
                <input type="text" class="form-control" id="lastName" name="lastName">
              </div>
              <div class="mb-3">
                <label for="phoneNumber" class="form-label">Phone Number</label>
                <input type="text" class="form-control" id="phoneNumber" name="phoneNumber">
              </div>
              <div class="mb-3">
                <label for="address" class="form-label">Address</label>
                <textarea class="form-control" id="address" name="address"></textarea>
              </div>
              <button type="submit" class="btn btn-primary" value="Upload">Submit</button>
            </form>
          </div>
      </div>

      
      <div class = "col-9 col-sm-6 mt-5">
      <h2>Customers</h2>
      <ul class="list-group list-group-light">
        <% for(var i=0; i<customers.length; i++) {%>
          <a href = "/user/<%= customers[i]._id%>">
          <li class="shadow list-group-item list-group-item-action d-flex justify-content-start align-items-center">
            <div>
              <div class="fw-bold"><%= `${customers[i].firstName} ${customers[i].lastName}`%></div>
              <div class="text-muted"><%= `+91${customers[i].phoneNumber}` %></div>
            </div>
            <span class="ms-auto badge rounded-pill text-bg-warning">In-queue</span>
            <form
            action="/workshop/deleteCustomer/<%= customers[i].id %>?_method=DELETE"
            method="POST"
            class="ms-3 col-3"
            >
              <button  id = "trashIcon" class=" btn btn-primary" type="submit"><i class="fa-solid fa-trash"></i></button>
            </form>
          </li>
          </a>
        <% } %>
        <!-- <li class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            <div class="fw-bold">John Doe</div>
            <div class="text-muted">john.doe@gmail.com</div>
          </div>
          <span class="badge rounded-pill text-bg-primary">Active</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            <div class="fw-bold">Alex Ray</div>
            <div class="text-muted">alex.ray@gmail.com</div>
          </div>
          <span class="badge rounded-pill text-bg-success">Onboarding</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            <div class="fw-bold">Kate Hunington</div>
            <div class="text-muted">kate.hunington@gmail.com</div>
          </div>
          <span class="badge rounded-pill text-bg-warning">Awaiting</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <div>
            <div class="fw-bold">John Yeoman</div>
            <div class="text-muted">jmg@gmail.com</div>
          </div>
          <span class="badge rounded-pill text-bg-danger">Awaiting</span>
        </li> -->
      </ul>
      </div>
      
    </div>
  </div>
</div>
<div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  
  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/js/main.js"></script>
</body>

</html>
<!-- <%- include('partials/footer') -%> -->